body, html{
    height: 100%;
}

.background{
    background:url("cover.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1{
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#p2{
    position: absolute;
    bottom: 0%;
    left: 25%;
}

#p3{
    position: absolute;
    bottom: 0%;
    left: 50%;
}

#p4{
    position: absolute;
    bottom: 0%;
    left: 75%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 400%;
    text-align: center;
}

.navbar{
    background-color: rgb(175,238,238);
    line-height:80px;
    width:100%;
    height: 75px;
}

.tab > a{
    float: left;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 60px;
    text-decoration: solid;
}

.tab > a:hover{
    background-color: gold;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

#search-bar{
    width:220px;
    height:60px;
    border-radius: 5px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.navbar>ul{
    margin:0;
    margin-right:50px;
    float:right;
}

.navbar>ul>li{
    display:inline-block;  
}

button:hover{
    background-color: black;
    color: white;
}

button{
    position: relative;
    border-radius: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    height: 55px;
    width: 130px;
}

h2{
    margin-left: 5%;
}

.album1{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 75%;
    background-color: cadetblue;
    font-size: 20px;
}

.album1 > a{
    float: left;
}

.album1 > .text1{
    position: relative;
    font-size: 24px;
    left: 30px;
    padding: 40px;
    width: 1000px;
    margin-left: 12%;
    overflow: visible;
    font-family:'Courier New', Courier, monospace;
}

.album2{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: red;
    font-size: 20px;
}

.album2 > a{
    float: right;
}

.album2 > .text2{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
}

.album3{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: darkgoldenrod;
    font-size: 20px;
}

.album3 > a{
    float: left;
}

.album3 > .text3{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    overflow: visible;
    margin-left: 12%;
    font-family: 'Courier New', Courier, monospace;
}

.album4{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: darkcyan;
    font-size: 20px;
}

.album4 > a{
    float: right;
}

.album4 > .text4{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 12%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.album5{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: darkolivegreen;
    font-size: 20px;
}

.album5 > a{
    float: left;
}

.album5 > .text5{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    overflow: visible;
    margin-left: 12%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.album6{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: antiquewhite;
    font-size: 20px;
}

.album6 > a{
    float: right;
}

.album6 > .text6{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 11%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.album7{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: darkgray;
    font-size: 20px;
}

.album7 > a{
    float: left;
}

.album7 > .text7{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    overflow: visible;
    margin-left: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album8{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: indianred;
    font-size: 20px;
}

.album8 > a{
    float: right;
}

.album8 > .text8{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 12%;
    font-family: 'Courier New', Courier, monospace;
}

.album9{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: darkgoldenrod;
    font-size: 20px;
}

.album9 > a{
    float: left;
}

.album9 > .text9{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    margin-left: 12%;
    overflow: visible;
    font-family: 'Times New Roman', Times, serif;
}

.album10{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: black;
    font-size: 20px;
}

.album10 > a{
    float: right;
}

.album10 > .text10{
    color: white;
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 12%;
    font-family: 'Courier New', Courier, monospace;
}

.album11{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: lightpink;
    font-size: 20px;
}

.album11 > a{
    float: left;
}

.album11 > .text11{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    margin-left: 12%;
    overflow: visible;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album12{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: lightblue;
    font-size: 20px;
}

.album12 > a{
    float: right;
}

.album12 > .text12{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 12%;
    font-family: 'Courier New', Courier, monospace;
}

.album13{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: bisque;
    font-size: 20px;
}

.album13 > a{
    float: left;
}

.album13 > .text13{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    overflow: visible;
    margin-left: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.album14{
    display: inline-block;
    vertical-align: top;
    margin-left: 15%;
    width: 80%;
    background-color: khaki;
    font-size: 20px;
}

.album14 > a{
    float: right;
}

.album14 > .text14{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 750px;
    overflow: visible;
    margin-right: 12%;
    font-family: 'Courier New', Courier, monospace;
}

.album15{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    width: 80%;
    background-color: aqua;
    font-size: 20px;
}

.album15 > a{
    float: left;
}

.album15 > .text15{
    position: relative;
    left: 30px;
    font-size: 24px;
    padding: 40px;
    width: 1000px;
    overflow: visible;
    margin-left: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.area {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 680px;
    background-image: radial-gradient(lightpink, lightseagreen);
}

.area> .info {
    
    padding-left: 60px;
    text-align: center;
    font-size: 22px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.registerbtn {
    margin-top: 5px;
    background-color: #04AA6D;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }

  /*album1*/
  .intro{
    margin-top: 20px;
  }

  .name{
    height: 400px;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    background-color: gainsboro;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .content{
    padding-left: 20px;
  }

  .grid-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: grey;
    padding: 10px;
  }

  .grid-item:nth-child(odd) {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item:nth-child(even) {
    background-color: gainsboro;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .about{
    margin-left: 10%;
    margin-right: 10%;
  }